 <nav class="footer-left">
    <div>
        <h4 class="ml5">BOOKING HUTECH</h4>
        <div class="ml20">
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="ml5"> Địa chỉ: 475A Dien Bien Phu, P25, Binh Thanh, Ho Chi Minh City.</span>
            </div>
            <div>
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <span> 
                    <img class="ml5" height="22" src="../../../../images/logo/logo.jpg" />
                </span>
                <div class="pull-right hidden-xs">
                    <b>Version</b> {{Version}}
                </div>
                <strong><a href="">Phát triển bởi. Copyright &copy; 20/2/2019. </a></strong> Trần Nhựt Anh. Đinh Văn Lam. Thái Văn Lợi - Web Developer

            </div>
        </div>
    </div>
</nav>
