<!DOCTYPE html>
<html lang="vn" class="translated-ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking HUTECH</title>

    <link rel="stylesheet" href="~/Scripts/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/font-awesome/css/font-awesome.min.css">
    <!--End CSS template --> 
    <link href="~/script/css/nprogress.css" rel="stylesheet" />
        <link href="~/script/css/green.css" rel="stylesheet">
        <link href="~/script/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <link href="~/script/css/jqvmap.min.css" rel="stylesheet">
        <link href="~/script/css/daterangepicker.css" rel="stylesheet">
        <link href="~/script/css/custom.min.css" rel="stylesheet">
        <link href="~/script/css/translateelement.css" type="text/css" rel="stylesheet" charset="UTF-8">
    <!--End CSS template -->

    <link href="~/Scripts/vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
    <link href="~/Scripts/toastr/css/angular-toastr.min.css" rel="stylesheet" />


</head>
<body ng-app="BHutechAppModule" class="nav-md">


    @RenderBody()
    <!--Start Script template -->
    @*<script async="" src="~/script/js/analytics.js"></script>*@
    @*<script src="~/script/js/jquery.min.js"></script>*@
    @*<script src="~/script/js/bootstrap.min.js"></script>*@
    @*<script src="~/script/js/fastclick.js"></script>*@
    @*<script src="~/script/js/nprogress.js"></script>*@
    @*<script src="~/script/js/Chart.min.js"></script>
        <script src="~/script/js/gauge.min.js"></script>
        <script src="~/script/js/bootstrap-progressbar.min.js"></script>
        <script src="~/script/js/icheck.min.js"></script>
        <script src="~/script/js/skycons.js"></script>
        <script src="~/script/js/jquery.flot.js"></script>
        <script src="~/script/js/jquery.flot.pie.js"></script>
        <script src="~/script/js/jquery.flot.time.js"></script>
        <script src="~/script/js/jquery.flot.stack.js"></script>
        <script src="~/script/js/jquery.flot.resize.js"></script>
        <script src="~/script/js/jquery.flot.orderBars.js"></script>
        <script src="~/script/js/jquery.flot.spline.min.js"></script>
        <script src="~/script/js/curvedLines.js"></script>*@
    @*<script src="~/script/js/date.js"></script>*@
    @*<script src="~/script/js/jquery.vmap.js"></script>
        <script src="~/script/js/jquery.vmap.world.js"></script>
        <script src="~/script/js/jquery.vmap.sampledata.js"></script>
        <script src="~/script/js/moment.min.js"></script>
        <script src="~/script/js/daterangepicker.js"></script>*@
    @*<script src="~/script/js/custom.min.js"></script>*@

    <script src="~/script/js/jquery.min.js"></script>
    <script src="~/script/js/bootstrap.min.js"></script>
    <script src="~/script/js/nprogress.js"></script>
    <script src="~/script/js/date.js"></script>
    <script src="~/script/js/custom.min.js"></script>

    <!--End Script template -->

    <script src="~/Scripts/vendor/angular/angular.min.js"></script>
    <script src="~/Scripts/vendor/angular/angular-idle.js"></script>
    <script src="~/Scripts/vendor/angular/angular-aria.min.js"></script>
    <script src="~/Scripts/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/Scripts/vendor/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/Scripts/vendor/TextAngular/textAngular.min.js"></script>
    <script src="~/Scripts/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/vendor/ocLazyLoad/dist/ocLazyLoad.min.js"></script>
    <script src="~/Scripts/toastr/js/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Scripts/vendor/ngtable/ng-table.min.js"></script>


    @*// ************** Services  **************//*@
    <script src="~/wwwroot/module/module.js"></script>
    <script src="~/wwwroot/module/config.js"></script>
    <script src="~/wwwroot/service/dataEntity.js"></script>
    <script src="~/wwwroot/service/dao.js"></script>
    <script src="~/Scripts/angular-translate/angular-translate.js"></script>
    <script src="~/Scripts/vendor/alert/sweet-alert.min.js"></script>
    <script src="~/Scripts/vendor/alert/SweetAlert.min.js"></script>
    <script src="~/Scripts/vendor/alert/alert.js"></script>

    @*// ************** Controller **************//*@
    <script src="~/wwwroot/controller/account/loginController.js"></script>
    <script src="~/wwwroot/controller/app/appController.js"></script>
    <script src="~/wwwroot/controller/home/homeController.js"></script>
    <script src="~/wwwroot/controller/mainController.js"></script>



</body>
</html>
